<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_3eaf82c24b0545d2addd3c6fd1e89052 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css" />
</head>
<body>    
    
            <div class="folium-map" id="map_3eaf82c24b0545d2addd3c6fd1e89052" ></div>
        
</body>
<script>    
    

            
                var bounds = null;
            

            var map_3eaf82c24b0545d2addd3c6fd1e89052 = L.map(
                                  'map_3eaf82c24b0545d2addd3c6fd1e89052',
                                  {center: [41.9027152,12.4544186],
                                  zoom: 12,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_bf985208920e4d2c91189e881ef5f60f = L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
  "attribution": null,
  "detectRetina": false,
  "maxZoom": 18,
  "minZoom": 1,
  "noWrap": false,
  "subdomains": "abc"
}
                ).addTo(map_3eaf82c24b0545d2addd3c6fd1e89052);
        
    
            var marker_cluster_a0d736694d7240249f9fdb8ef80d24eb = L.markerClusterGroup({
                
            });
            map_3eaf82c24b0545d2addd3c6fd1e89052.addLayer(marker_cluster_a0d736694d7240249f9fdb8ef80d24eb);
            
    

            var marker_0189702cbdb74e9495c74dd0d47c04e3 = L.marker(
                [41.90407,12.48091],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(marker_cluster_a0d736694d7240249f9fdb8ef80d24eb);
            
    

                var icon_85fa33c46fde49608a897cee87e9d183 = L.AwesomeMarkers.icon({
                    icon: 'ok-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_0189702cbdb74e9495c74dd0d47c04e3.setIcon(icon_85fa33c46fde49608a897cee87e9d183);
            
    
            var popup_a3665f9a41f5456f8f8c7853da3cbb92 = L.popup({maxWidth: '300'});

            
                var html_42239f30327f4d049521cbcafb1b4004 = $('<div id="html_42239f30327f4d049521cbcafb1b4004" style="width: 100.0%; height: 100.0%;">Doctors in Italy: 4.5 stars</div>')[0];
                popup_a3665f9a41f5456f8f8c7853da3cbb92.setContent(html_42239f30327f4d049521cbcafb1b4004);
            

            marker_0189702cbdb74e9495c74dd0d47c04e3.bindPopup(popup_a3665f9a41f5456f8f8c7853da3cbb92);

            
        
    

            var marker_b630569454c944beaad79cd2f591420c = L.marker(
                [41.91872,12.4399],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(marker_cluster_a0d736694d7240249f9fdb8ef80d24eb);
            
    

                var icon_f71d4210f44f4634b770b9b48a514211 = L.AwesomeMarkers.icon({
                    icon: 'ok-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_b630569454c944beaad79cd2f591420c.setIcon(icon_f71d4210f44f4634b770b9b48a514211);
            
    
            var popup_bdb58d5cc7f94861a15ffa955792d1d6 = L.popup({maxWidth: '300'});

            
                var html_6d1ae552e8894329b169b8e9a68b7b78 = $('<div id="html_6d1ae552e8894329b169b8e9a68b7b78" style="width: 100.0%; height: 100.0%;">Prof. Daniela Mango: 5.0 stars</div>')[0];
                popup_bdb58d5cc7f94861a15ffa955792d1d6.setContent(html_6d1ae552e8894329b169b8e9a68b7b78);
            

            marker_b630569454c944beaad79cd2f591420c.bindPopup(popup_bdb58d5cc7f94861a15ffa955792d1d6);

            
        
    

            var marker_f2f48d721fac46829a5771d17e96a211 = L.marker(
                [41.9067999,12.46875],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(marker_cluster_a0d736694d7240249f9fdb8ef80d24eb);
            
    

                var icon_fff9820b9bda4fa19a8e96111c4aa242 = L.AwesomeMarkers.icon({
                    icon: 'ok-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_f2f48d721fac46829a5771d17e96a211.setIcon(icon_fff9820b9bda4fa19a8e96111c4aa242);
            
    
            var popup_c1bbb6a5c1c6461eb70e00ddbc13591e = L.popup({maxWidth: '300'});

            
                var html_d51ea908527a41129cf355c111bdd9ad = $('<div id="html_d51ea908527a41129cf355c111bdd9ad" style="width: 100.0%; height: 100.0%;">Studio Medico Brofferio: 4.0 stars</div>')[0];
                popup_c1bbb6a5c1c6461eb70e00ddbc13591e.setContent(html_d51ea908527a41129cf355c111bdd9ad);
            

            marker_f2f48d721fac46829a5771d17e96a211.bindPopup(popup_c1bbb6a5c1c6461eb70e00ddbc13591e);

            
        
    

            var marker_a975ae17f705414d9a0fd53796336f0b = L.marker(
                [41.87244,12.47706],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(marker_cluster_a0d736694d7240249f9fdb8ef80d24eb);
            
    

                var icon_111b947d0414425f88e5bb3963d5a951 = L.AwesomeMarkers.icon({
                    icon: 'ok-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_a975ae17f705414d9a0fd53796336f0b.setIcon(icon_111b947d0414425f88e5bb3963d5a951);
            
    
            var popup_aeed190795924266b0f0ee5df82415bd = L.popup({maxWidth: '300'});

            
                var html_ec3f36d7a81544938f645379cfebbaf2 = $('<div id="html_ec3f36d7a81544938f645379cfebbaf2" style="width: 100.0%; height: 100.0%;">Medikron: 5.0 stars</div>')[0];
                popup_aeed190795924266b0f0ee5df82415bd.setContent(html_ec3f36d7a81544938f645379cfebbaf2);
            

            marker_a975ae17f705414d9a0fd53796336f0b.bindPopup(popup_aeed190795924266b0f0ee5df82415bd);

            
        
    

            var marker_04dd92a07cf446c6bb7772ce8864a233 = L.marker(
                [41.9133799,12.46254],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(marker_cluster_a0d736694d7240249f9fdb8ef80d24eb);
            
    

                var icon_5a694cbe90154e38bad623741451a6ea = L.AwesomeMarkers.icon({
                    icon: 'ok-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_04dd92a07cf446c6bb7772ce8864a233.setIcon(icon_5a694cbe90154e38bad623741451a6ea);
            
    
            var popup_1a374d00db494237809989c5cce3f590 = L.popup({maxWidth: '300'});

            
                var html_3054283a732343718aca9f1c21c8440e = $('<div id="html_3054283a732343718aca9f1c21c8440e" style="width: 100.0%; height: 100.0%;">Dott. Tafuri Antonio: 5.0 stars</div>')[0];
                popup_1a374d00db494237809989c5cce3f590.setContent(html_3054283a732343718aca9f1c21c8440e);
            

            marker_04dd92a07cf446c6bb7772ce8864a233.bindPopup(popup_1a374d00db494237809989c5cce3f590);

            
        
    

            var marker_aafd7866dc0b4b548254d8d8a501ec8c = L.marker(
                [41.9131709,12.4549218],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(marker_cluster_a0d736694d7240249f9fdb8ef80d24eb);
            
    

                var icon_9d32e92a9d3a4e0a8b8df03959854b34 = L.AwesomeMarkers.icon({
                    icon: 'ok-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_aafd7866dc0b4b548254d8d8a501ec8c.setIcon(icon_9d32e92a9d3a4e0a8b8df03959854b34);
            
    
            var popup_0ab80ee652d04067b97568231e746098 = L.popup({maxWidth: '300'});

            
                var html_7c34a0a1de1e4b86948c05d55e459151 = $('<div id="html_7c34a0a1de1e4b86948c05d55e459151" style="width: 100.0%; height: 100.0%;">Dott. Massimo Rocchetti: 4.5 stars</div>')[0];
                popup_0ab80ee652d04067b97568231e746098.setContent(html_7c34a0a1de1e4b86948c05d55e459151);
            

            marker_aafd7866dc0b4b548254d8d8a501ec8c.bindPopup(popup_0ab80ee652d04067b97568231e746098);

            
        
    

            var marker_52637bb36dde49d9a106771650184ae3 = L.marker(
                [41.89581,12.41876],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(marker_cluster_a0d736694d7240249f9fdb8ef80d24eb);
            
    

                var icon_3a1507f168894124ac74b3c253970ef2 = L.AwesomeMarkers.icon({
                    icon: 'ok-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_52637bb36dde49d9a106771650184ae3.setIcon(icon_3a1507f168894124ac74b3c253970ef2);
            
    
            var popup_4446f88eb55e4b63a20876c60efc153f = L.popup({maxWidth: '300'});

            
                var html_fea3082cb4be4eb19a8a3b9342bbc79c = $('<div id="html_fea3082cb4be4eb19a8a3b9342bbc79c" style="width: 100.0%; height: 100.0%;">Dott. Santini Massimo: 5.0 stars</div>')[0];
                popup_4446f88eb55e4b63a20876c60efc153f.setContent(html_fea3082cb4be4eb19a8a3b9342bbc79c);
            

            marker_52637bb36dde49d9a106771650184ae3.bindPopup(popup_4446f88eb55e4b63a20876c60efc153f);

            
        
    

            var marker_1f50af9502e44b89bcd47823b18d63bf = L.marker(
                [41.88397,12.4816299],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(marker_cluster_a0d736694d7240249f9fdb8ef80d24eb);
            
    

                var icon_95e7bf02584f4fffa960f33630140046 = L.AwesomeMarkers.icon({
                    icon: 'ok-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_1f50af9502e44b89bcd47823b18d63bf.setIcon(icon_95e7bf02584f4fffa960f33630140046);
            
    
            var popup_be01f835a483448199947c9e6ae70a50 = L.popup({maxWidth: '300'});

            
                var html_c6a75472faeb4fb79d0e37b4bb304c92 = $('<div id="html_c6a75472faeb4fb79d0e37b4bb304c92" style="width: 100.0%; height: 100.0%;">Aventino Medical Group: 2.5 stars</div>')[0];
                popup_be01f835a483448199947c9e6ae70a50.setContent(html_c6a75472faeb4fb79d0e37b4bb304c92);
            

            marker_1f50af9502e44b89bcd47823b18d63bf.bindPopup(popup_be01f835a483448199947c9e6ae70a50);

            
        
    

            var marker_28d3ebdf564c4736bc654e2562ffb9ef = L.marker(
                [41.88227,12.4697099],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(marker_cluster_a0d736694d7240249f9fdb8ef80d24eb);
            
    

                var icon_8ad946a8607d4288b59cc7c2901552d2 = L.AwesomeMarkers.icon({
                    icon: 'ok-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_28d3ebdf564c4736bc654e2562ffb9ef.setIcon(icon_8ad946a8607d4288b59cc7c2901552d2);
            
    
            var popup_2cc1149924a747b793f4aa036ae87052 = L.popup({maxWidth: '300'});

            
                var html_d18213a8c4a04da3afe066193f07360c = $('<div id="html_d18213a8c4a04da3afe066193f07360c" style="width: 100.0%; height: 100.0%;">Omoios: 4.0 stars</div>')[0];
                popup_2cc1149924a747b793f4aa036ae87052.setContent(html_d18213a8c4a04da3afe066193f07360c);
            

            marker_28d3ebdf564c4736bc654e2562ffb9ef.bindPopup(popup_2cc1149924a747b793f4aa036ae87052);

            
        
    

            var marker_9a2d6f767d4d485ea6581b46b0802eb1 = L.marker(
                [41.87736,12.44867],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(marker_cluster_a0d736694d7240249f9fdb8ef80d24eb);
            
    

                var icon_bcc4e9a020a042caa59add6407330c40 = L.AwesomeMarkers.icon({
                    icon: 'ok-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_9a2d6f767d4d485ea6581b46b0802eb1.setIcon(icon_bcc4e9a020a042caa59add6407330c40);
            
    
            var popup_1d22d6c05c174c05a64791f0ec8a0e8b = L.popup({maxWidth: '300'});

            
                var html_46af8905c1034503978c9691327921a4 = $('<div id="html_46af8905c1034503978c9691327921a4" style="width: 100.0%; height: 100.0%;">Dott.ssa Serenella Corbo: 4.0 stars</div>')[0];
                popup_1d22d6c05c174c05a64791f0ec8a0e8b.setContent(html_46af8905c1034503978c9691327921a4);
            

            marker_9a2d6f767d4d485ea6581b46b0802eb1.bindPopup(popup_1d22d6c05c174c05a64791f0ec8a0e8b);

            
        
    

            var marker_07edf8df67d84e849593664613f7e15b = L.marker(
                [41.9401413,12.4236801],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(marker_cluster_a0d736694d7240249f9fdb8ef80d24eb);
            
    

                var icon_1ae1755f736e4aa59bdef904ddc9dc63 = L.AwesomeMarkers.icon({
                    icon: 'ok-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_07edf8df67d84e849593664613f7e15b.setIcon(icon_1ae1755f736e4aa59bdef904ddc9dc63);
            
    
            var popup_6c2dcce5bbeb4a1aabba9539ddd36e15 = L.popup({maxWidth: '300'});

            
                var html_fb34360888f04ee0ad04d4c551adbdb1 = $('<div id="html_fb34360888f04ee0ad04d4c551adbdb1" style="width: 100.0%; height: 100.0%;">Az.Usl Rm E: 3.0 stars</div>')[0];
                popup_6c2dcce5bbeb4a1aabba9539ddd36e15.setContent(html_fb34360888f04ee0ad04d4c551adbdb1);
            

            marker_07edf8df67d84e849593664613f7e15b.bindPopup(popup_6c2dcce5bbeb4a1aabba9539ddd36e15);

            
        
    

            var marker_74767258d8ed48aab1e67c6c0579b5df = L.marker(
                [41.8894501,12.4769697],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(marker_cluster_a0d736694d7240249f9fdb8ef80d24eb);
            
    

                var icon_dfe8d275f0414130b04fe105b1a96314 = L.AwesomeMarkers.icon({
                    icon: 'ok-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_74767258d8ed48aab1e67c6c0579b5df.setIcon(icon_dfe8d275f0414130b04fe105b1a96314);
            
    
            var popup_c7d7601abdcd4b528ab0613b0d560cb3 = L.popup({maxWidth: '300'});

            
                var html_0cb698d7e758453cb1899071f1229e29 = $('<div id="html_0cb698d7e758453cb1899071f1229e29" style="width: 100.0%; height: 100.0%;">Dott. Cavalieri: 5.0 stars</div>')[0];
                popup_c7d7601abdcd4b528ab0613b0d560cb3.setContent(html_0cb698d7e758453cb1899071f1229e29);
            

            marker_74767258d8ed48aab1e67c6c0579b5df.bindPopup(popup_c7d7601abdcd4b528ab0613b0d560cb3);

            
        
    

            var marker_3ff140293cc84a9fae835d85f550e7fc = L.marker(
                [41.9163951,12.4597699],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(marker_cluster_a0d736694d7240249f9fdb8ef80d24eb);
            
    

                var icon_ad71f49f9543432488c5c6f6b4e22bc4 = L.AwesomeMarkers.icon({
                    icon: 'ok-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_3ff140293cc84a9fae835d85f550e7fc.setIcon(icon_ad71f49f9543432488c5c6f6b4e22bc4);
            
    
            var popup_223144874042414b818770e57b5c3255 = L.popup({maxWidth: '300'});

            
                var html_945ed4b2742a45b294fa8fbacf7ec9cc = $('<div id="html_945ed4b2742a45b294fa8fbacf7ec9cc" style="width: 100.0%; height: 100.0%;">Dott. Antonio Comito: 5.0 stars</div>')[0];
                popup_223144874042414b818770e57b5c3255.setContent(html_945ed4b2742a45b294fa8fbacf7ec9cc);
            

            marker_3ff140293cc84a9fae835d85f550e7fc.bindPopup(popup_223144874042414b818770e57b5c3255);

            
        
    

            var marker_c3e41997f3fb465b9207f4f4d2841121 = L.marker(
                [41.94802,12.46756],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(marker_cluster_a0d736694d7240249f9fdb8ef80d24eb);
            
    

                var icon_796a36e2cdfc49f8bf610ed9839009cb = L.AwesomeMarkers.icon({
                    icon: 'ok-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_c3e41997f3fb465b9207f4f4d2841121.setIcon(icon_796a36e2cdfc49f8bf610ed9839009cb);
            
    
            var popup_4f35dc8f7f3144b7890b15a68a5ba54d = L.popup({maxWidth: '300'});

            
                var html_6b9aa5a9b0c149b68388006bdde384df = $('<div id="html_6b9aa5a9b0c149b68388006bdde384df" style="width: 100.0%; height: 100.0%;">Ars Medica: 5.0 stars</div>')[0];
                popup_4f35dc8f7f3144b7890b15a68a5ba54d.setContent(html_6b9aa5a9b0c149b68388006bdde384df);
            

            marker_c3e41997f3fb465b9207f4f4d2841121.bindPopup(popup_4f35dc8f7f3144b7890b15a68a5ba54d);

            
        
    

            var marker_628f901a215c47d18decaf603305eeca = L.marker(
                [41.89996988,12.46269912],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(marker_cluster_a0d736694d7240249f9fdb8ef80d24eb);
            
    

                var icon_589f7dc031b54fceba835a1dcc7a2602 = L.AwesomeMarkers.icon({
                    icon: 'ok-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_628f901a215c47d18decaf603305eeca.setIcon(icon_589f7dc031b54fceba835a1dcc7a2602);
            
    
            var popup_fe86f256afc24ecd8d4127bf954eb82e = L.popup({maxWidth: '300'});

            
                var html_c64ff1c925bf4a7fac65da9f847735ba = $('<div id="html_c64ff1c925bf4a7fac65da9f847735ba" style="width: 100.0%; height: 100.0%;">Ospedale Santo Spirito In Saxia: 2.5 stars</div>')[0];
                popup_fe86f256afc24ecd8d4127bf954eb82e.setContent(html_c64ff1c925bf4a7fac65da9f847735ba);
            

            marker_628f901a215c47d18decaf603305eeca.bindPopup(popup_fe86f256afc24ecd8d4127bf954eb82e);

            
        
    

            var marker_0438e7f9ee094816af0285089c278f98 = L.marker(
                [41.9084418,12.4483706],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(marker_cluster_a0d736694d7240249f9fdb8ef80d24eb);
            
    

                var icon_7b92b2a511454c80ba851e9a9e5b6c6f = L.AwesomeMarkers.icon({
                    icon: 'ok-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_0438e7f9ee094816af0285089c278f98.setIcon(icon_7b92b2a511454c80ba851e9a9e5b6c6f);
            
    
            var popup_1a8d7c4399804aa8ba9ce804ffd11e13 = L.popup({maxWidth: '300'});

            
                var html_6bc294e0369748f7b19bb7500ff7d72b = $('<div id="html_6bc294e0369748f7b19bb7500ff7d72b" style="width: 100.0%; height: 100.0%;">Ospedale Oftalmico: 4.0 stars</div>')[0];
                popup_1a8d7c4399804aa8ba9ce804ffd11e13.setContent(html_6bc294e0369748f7b19bb7500ff7d72b);
            

            marker_0438e7f9ee094816af0285089c278f98.bindPopup(popup_1a8d7c4399804aa8ba9ce804ffd11e13);

            
        
    

            var marker_0c2bbc5e40754e09bb3d406c6571258e = L.marker(
                [41.89078,12.477],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(marker_cluster_a0d736694d7240249f9fdb8ef80d24eb);
            
    

                var icon_ff1ee104c36e4494b9580281f9d9c01c = L.AwesomeMarkers.icon({
                    icon: 'ok-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_0c2bbc5e40754e09bb3d406c6571258e.setIcon(icon_ff1ee104c36e4494b9580281f9d9c01c);
            
    
            var popup_a1d65c1e51494c8ab974cc0ec07cf7b5 = L.popup({maxWidth: '300'});

            
                var html_30f226def01f4fd5b2ada7b6e5017c4d = $('<div id="html_30f226def01f4fd5b2ada7b6e5017c4d" style="width: 100.0%; height: 100.0%;">Ospedale Fatebenefratelli: 4.5 stars</div>')[0];
                popup_a1d65c1e51494c8ab974cc0ec07cf7b5.setContent(html_30f226def01f4fd5b2ada7b6e5017c4d);
            

            marker_0c2bbc5e40754e09bb3d406c6571258e.bindPopup(popup_a1d65c1e51494c8ab974cc0ec07cf7b5);

            
        
    

            var marker_2cd8935db7cb4d21981517244928ab4c = L.marker(
                [41.9047672,12.4764314],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(marker_cluster_a0d736694d7240249f9fdb8ef80d24eb);
            
    

                var icon_c69d7f6ecdc149208894d156ff061f78 = L.AwesomeMarkers.icon({
                    icon: 'ok-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_2cd8935db7cb4d21981517244928ab4c.setIcon(icon_c69d7f6ecdc149208894d156ff061f78);
            
    
            var popup_1cfc184bb8f94d87b36e88f5bbfcbad4 = L.popup({maxWidth: '300'});

            
                var html_0313702ffdd14bedb75225e5becfc12f = $('<div id="html_0313702ffdd14bedb75225e5becfc12f" style="width: 100.0%; height: 100.0%;">Emiliozzi: 3.0 stars</div>')[0];
                popup_1cfc184bb8f94d87b36e88f5bbfcbad4.setContent(html_0313702ffdd14bedb75225e5becfc12f);
            

            marker_2cd8935db7cb4d21981517244928ab4c.bindPopup(popup_1cfc184bb8f94d87b36e88f5bbfcbad4);

            
        
    

            var marker_527b80886e324931b0041ac88be8a5f5 = L.marker(
                [41.90701,12.4886],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(marker_cluster_a0d736694d7240249f9fdb8ef80d24eb);
            
    

                var icon_4b05d66274e04f75a0a1d195fcacb9f9 = L.AwesomeMarkers.icon({
                    icon: 'ok-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_527b80886e324931b0041ac88be8a5f5.setIcon(icon_4b05d66274e04f75a0a1d195fcacb9f9);
            
    
            var popup_d08a06e307db4e0ea59aaa6b01d4c034 = L.popup({maxWidth: '300'});

            
                var html_a8e6548443284acda5d537c2021d56c4 = $('<div id="html_a8e6548443284acda5d537c2021d56c4" style="width: 100.0%; height: 100.0%;">Dott. Spelar Francis Peter: 5.0 stars</div>')[0];
                popup_d08a06e307db4e0ea59aaa6b01d4c034.setContent(html_a8e6548443284acda5d537c2021d56c4);
            

            marker_527b80886e324931b0041ac88be8a5f5.bindPopup(popup_d08a06e307db4e0ea59aaa6b01d4c034);

            
        
    

            var marker_8b73994d4e854398a88bd3866686ab88 = L.marker(
                [41.90426,12.48287],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(marker_cluster_a0d736694d7240249f9fdb8ef80d24eb);
            
    

                var icon_93a5af5efb0c4351bf07cb7e9b8c0107 = L.AwesomeMarkers.icon({
                    icon: 'ok-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_8b73994d4e854398a88bd3866686ab88.setIcon(icon_93a5af5efb0c4351bf07cb7e9b8c0107);
            
    
            var popup_d66e611f524b4ffe9138660a2e9527f9 = L.popup({maxWidth: '300'});

            
                var html_34c7eec681ed4a1fa57d8ca51aa128ed = $('<div id="html_34c7eec681ed4a1fa57d8ca51aa128ed" style="width: 100.0%; height: 100.0%;">Nails di Andrea Cretaro: 5.0 stars</div>')[0];
                popup_d66e611f524b4ffe9138660a2e9527f9.setContent(html_34c7eec681ed4a1fa57d8ca51aa128ed);
            

            marker_8b73994d4e854398a88bd3866686ab88.bindPopup(popup_d66e611f524b4ffe9138660a2e9527f9);

            
        
</script>