
.circle {
    width: 320px;
    height: 320px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 160px;
    background: #CA907E;
    display: flex;
    justify-content: center;
    align-items: center;
}