
.circle {
    width: 320px;
    height: 320px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 160px;
    background: #CA907E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.z-depth-2 {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}
