body {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  root:rgba(0,0,0,0.04);
}

#main-container {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
}

#main-container-overlay {
    position: absolute;
    content:" ";
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: block;
    z-index:0;
    background-color: rgba(0,0,0,0.5);
}